<launch>

  <!-- Launch the watchdog -->
  <include file="$(find watchdog)/launch/watchdog.launch" />

  <arg name="power" default="0" doc="/dev/ttyUSBx for power" />
  <arg name="drive" default="1" doc="/dev/ttyUSBx for drive" />

  <group unless="$(eval power == -1)">
    <node name="power_serial"        pkg="rosserial_python"      type="serial_node.py" output="screen">
      <param name="port"              type="string"               value="/dev/ttyUSB$(arg power)"/>
      <param name="baud"              type="int"                  value="57600"/>
    </node>
  </group>

  <group unless="$(eval drive == -1)">
    <node name="drive_serial"        pkg="rosserial_python"      type="serial_node.py" output="screen">
      <param name="port"              type="string"               value="/dev/ttyUSB$(arg drive)"/>
      <param name="baud"              type="int"                  value="57600"/>
    </node>
  </group>

</launch>
