<launch>
  <arg name="js" default="1" doc="Joystick to look for" />
  <node name="joy_node_ld" pkg="joy" type="joy_node" respawn="true">
    <!-- Sets the dev parameter within the joy_node/ namespace -->
    <!-- This is part of setting up joy_node to work with the real controller -->
    <!-- See joy tutorial: http://wiki.ros.org/joy/Tutorials/ConfiguringALinuxJoystick -->
    <remap from="joy" to="/life_detection/joy"/>
    <param name="dev" value="/dev/input/js$(arg js)" />
    <!-- <rosparam>
      dev: "/dev/input/js1"
    </rosparam> -->
  </node>

  <node name="life_detection" pkg="life_detection" type="ld_subsys" respawn="true" output="screen" />


</launch>
